body {
    background-color: rgb(26, 79, 95);
}
li {
    border-color: ivory;
    border-style: solid;
    width: 200px
}
#special {
    background-color: rgb(125, 209, 125);
}


.completed {
    background-color: rgb(165, 77, 77);
    border: 1px solid green;
    text-decoration:line-through;
}


